/*!global */
* {
  padding: 0;
  margin: 0;
}

:root {
  --darkest: rgb(0, 0, 0);
  --dark: #464866;
  --neutral: #aaabb8;
  --light: #2e9cca;
  --lightest: #29648a;
}

/* Colors for toggle states */
.dark {
  background-color: var(--darkest);
  color: var(--light);
  border: solid 1px var(--neutral);
  border-radius: 15px;
}

.light {
  background-color: var(--lightest);
  color: var(--dark);
  border: solid 1px var(--neutral);
  border-radius: 15px;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

#modeToggle {
  background-color: var(--lightest);
  color: var(--neutral);
  padding: 5px;
  position: static;
  top: 25px;
  left: 25px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

h1 {
  font-family: cursive;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Links style */
.links,
a {
  color: var(--neutral);
  text-decoration: none;
  padding: 1vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-transform: uppercase;
}

/* Break point for small screens */
@media (min-width: 500px) {
  links {
    flex-direction: column;
    padding: 6vh;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  justify-content: center;
  background-color: var(--lightest);
  color: var(--neutral);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  width: 90%;
  background-color: var(--light);
  color: var(--dark);
  display: none;
  overflow: hidden;
  align-self: center;
}
